#!/usr/bin/env bash

cd {{ .dev_mount }}/.local/src
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
sudo ./aws/install --bin-dir /usr/local/bin --install-dir /usr/local/aws-cli --update
sudo chmod -R 755 /usr/local/aws-cli/
rm -rf aws
rm -rf awscliv2.zip
