#!/usr/bin/env bash

set -x
cd "$(mktemp -d)" &&
  KREW="krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
  tar zxvf "${KREW}.tar.gz" &&
  ./"${KREW}" install krew
