{
  "user_name": {{ .github_username | quote }},
  "initial_setup_done": true,
  "show_task_progress": true,
  "show_quotes": true,
  "tasks": [
    {
      "name": "authentication",
      "done": false
    },
    {
      "name": "priv v unpriv",
      "done": false
    },
    {
      "name": "ingress",
      "done": false
    },
    {
      "name": "networking",
      "done": false
    },
    {
      "name": "artifact URIs",
      "done": false
    },
    {
      "name": "internal certs and trust chain",
      "done": false
    }
  ]
}
